/* Mixins */
/* Variables */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 0;
  padding: 106px 50px 150px;
}

.slider-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  min-width: 0;
}

.logo {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.form-block {
  height: 100%;
  padding-left: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-block__label {
  line-height: 1.6;
  width: 300px;
  font-size: 18px;
  position: relative;
  margin-bottom: 20px;
  margin-left: 14px;
}

.form-block__label:before {
  position: absolute;
  border-radius: 5px;
  left: -10px;
  content: "";
  width: 4px;
  background-color: #FDD706;
  height: 100%;
  display: inline-block;
}

.form-block .form .input-group {
  width: 280px;
  padding: 10px;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.15);
          box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.15);
  border-radius: 10px;
}

.form-block .form .input-group__input {
  padding: 10px 5px;
  width: 100%;
  position: relative;
}

.form-block .form .input-group__input input {
  color: black;
  font-size: 16px;
  width: 100%;
}

.form-block .form .input-group__input input::-webkit-input-placeholder {
  color: #8C8C8C;
  font-size: 14px;
}

.form-block .form .input-group__input input:-ms-input-placeholder {
  color: #8C8C8C;
  font-size: 14px;
}

.form-block .form .input-group__input input::-ms-input-placeholder {
  color: #8C8C8C;
  font-size: 14px;
}

.form-block .form .input-group__input input::placeholder {
  color: #8C8C8C;
  font-size: 14px;
}

.form-block .form .input-group__input::after {
  content: "";
  display: block;
  width: 80px;
  height: 1px;
  background-color: #8C8C8C;
  position: absolute;
  bottom: 2px;
  left: 5px;
}

.form-block .form .input-group__input:first-child::after {
  width: 50px;
}

.form-block .form .input-group__input::-webkit-input-placeholder {
  color: #8C8C8C;
}

.form-block .form .input-group__input:-ms-input-placeholder {
  color: #8C8C8C;
}

.form-block .form .input-group__input::-ms-input-placeholder {
  color: #8C8C8C;
}

.form-block .form .input-group__input::placeholder {
  color: #8C8C8C;
}

.form-block .form__checkbox {
  margin: 25px 0 25px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #8C8C8C;
  font-size: 14px;
}

.form-block .form__checkbox {
  position: relative;
}

.form-block .form__checkbox input {
  display: none;
}

.form-block .form__checkbox label::after {
  content: "";
  border: 1px solid #8C8C8C;
  display: block;
  height: 16px;
  width: 16px;
  position: absolute;
  border-radius: 5px;
  right: 25px;
  top: -1.5px;
}

.form-block .form__checkbox input[type="checkbox"]:checked
+ label:after {
  background: url("/icons/check.svg") center/80% 80% no-repeat;
}

.form-block .form__button {
  font-size: 16px;
  display: block;
  background-color: #0095F6;
  color: white;
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
}
