@charset "UTF-8";
/* Mixins */
/* Variables */
/* Classes */
.slider {
  width: 100%;
  min-width: 0;
  overflow: hidden;
}

.slider__item {
  padding: 0 0 62px;
  font-size: 19px;
  padding-left: 15px;
}

.slider__title {
  font-weight: 600;
  color: black;
  margin-bottom: 11px;
}

.slider__subTitle {
  color: #7D7D7D;
}

.slider__label {
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  color: white;
  background-color: #F476C7;
  padding: 12px 18px;
  border-radius: 142px;
  margin-bottom: 19px;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-height: 7px;
}

/* Активная точка */
.slick-dots li.slick-active button {
  background-color: #FDD706;
}

/* Элемент точки */
.slick-dots li button {
  margin: 0 0 0 7px;
  font-size: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #DEDEDE;
}

@media (min-width: 450px) {
  .slick-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 900px) {
  .slider__item {
    font-size: 29px;
  }
  .slider__label {
    font-size: 17px;
    margin-bottom: 22px;
  }
}

@media (min-width: 1350px) {
  .slick-slide {
    display: block;
    width: 333px;
    margin-left: 1px;
  }
  .slider {
    max-width: 333px;
  }
  .slider__item {
    font-size: 27px;
    padding-left: 0;
    padding-top: 33px;
  }
  .slick-dots {
    max-height: 11px;
  }
  .slick-dots li button {
    margin: 0 0 0 11px;
    width: 11px;
    height: 11px;
  }
}
