/* Mixins */
/* Variables */
.wrapper {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  overflow: hidden;
}

.container {
  padding: 0 35px;
}

.header-wrap {
  position: absolute;
  left: 35px;
  right: 35px;
  top: 0;
  background-color: #fff;
}

.header {
  padding: 20px 0;
  position: relative;
}

.header__points {
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 160px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__label {
  background-color: #fff;
  z-index: 10;
  font-size: 16px;
  width: 180px;
  border-radius: 20px;
  padding: 12px 20px;
  text-align: center;
  margin: 0 auto;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.15);
          box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.15);
}

.menu {
  padding: 10px 0;
  width: 100%;
}

.menu__row {
  background-color: #F6F6F6;
  position: relative;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 912px;
  z-index: 1;
}

.menu__item, .menu__item_fake {
  text-align: center;
  border-radius: 20px;
  margin: 2px;
  color: #8C8C8C;
  width: 150px;
  padding: 10px 20px;
  z-index: 3;
}

.menu__item_active {
  color: black;
  background: transparent;
}

.menu__item_fake {
  position: absolute;
  background-color: white;
  width: 150px;
  left: 1px;
  top: 1px;
  bottom: 1px;
  z-index: 2;
}

.page {
  width: 100%;
  height: 100vh;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 0;
  padding: 200px 50px 50px;
}

.slider-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  min-width: 0;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.form-block {
  padding-left: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-block__label {
  line-height: 1.7;
  width: 270px;
  position: relative;
  margin-bottom: 20px;
}

.form-block__label:before {
  position: absolute;
  border-radius: 5px;
  left: -10px;
  content: "";
  width: 3px;
  background-color: #FDD706;
  height: 100%;
  display: inline-block;
}

.form-block .form .input-group {
  width: 280px;
  padding: 10px;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.15);
          box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.15);
  border-radius: 10px;
}

.form-block .form .input-group__input {
  padding: 10px 5px;
  width: 100%;
  position: relative;
}

.form-block .form .input-group__input input {
  color: black;
  font-size: 16px;
  width: 100%;
}

.form-block .form .input-group__input input::-webkit-input-placeholder {
  color: #8C8C8C;
  font-size: 14px;
}

.form-block .form .input-group__input input:-ms-input-placeholder {
  color: #8C8C8C;
  font-size: 14px;
}

.form-block .form .input-group__input input::-ms-input-placeholder {
  color: #8C8C8C;
  font-size: 14px;
}

.form-block .form .input-group__input input::placeholder {
  color: #8C8C8C;
  font-size: 14px;
}

.form-block .form .input-group__input::after {
  content: "";
  display: block;
  width: 80px;
  height: 1px;
  background-color: #8C8C8C;
  position: absolute;
  bottom: 2px;
  left: 5px;
}

.form-block .form .input-group__input:first-child::after {
  width: 50px;
}

.form-block .form .input-group__input::-webkit-input-placeholder {
  color: #8C8C8C;
}

.form-block .form .input-group__input:-ms-input-placeholder {
  color: #8C8C8C;
}

.form-block .form .input-group__input::-ms-input-placeholder {
  color: #8C8C8C;
}

.form-block .form .input-group__input::placeholder {
  color: #8C8C8C;
}

.form-block .form__checkbox {
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  color: #8C8C8C;
  font-size: 14px;
  position: relative;
  left: 1.5;
}

.form-block .form__checkbox input {
  margin-left: 10px;
  margin-top: 1px;
}

.form-block .form__checkbox::before {
  content: "";
  display: block;
  width: 3px;
  height: 100%;
  background-color: #F6F6F6;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  left: 0;
}

.form-block .form__button {
  display: block;
  background-color: #0095F6;
  color: white;
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
}

.we-are {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding-bottom: 150px;
}

.we-are__title {
  text-align: center;
  font-size: 18px;
}

.we-are__text, .we-are__text_with-line {
  position: relative;
}

.we-are__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  height: 100%;
  line-height: 1.7;
  width: 100%;
  position: relative;
}

.we-are__item .img-l, .we-are__item .img-l_with-cut {
  display: block;
  position: absolute;
  left: 25px;
}

.we-are__item .img-l_with-cut {
  left: -100px;
}

.we-are__item .img-r, .we-are__item .img-r_with-cut {
  display: block;
  position: absolute;
  right: 25px;
}

.we-are__item .img-r_with-cut {
  right: -100px;
}

.we-are__text_with-line:before {
  position: absolute;
  border-radius: 5px;
  left: -20px;
  content: "";
  width: 8px;
  background-color: #FDD706;
  height: 100%;
  display: inline-block;
}

.we-are__label {
  font-size: 16px;
  padding-bottom: 5px;
}

.we-are__link {
  display: inline-block;
  font-size: 13px;
  color: #0095F6;
  position: relative;
}

.we-are__link::after {
  font-weight: 800;
  color: #0095F6;
  content: ">";
  position: absolute;
  right: -12px;
  top: 0.5px;
}

.we-are__sub-label {
  font-size: 13px;
}

.clouds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 100px;
}

.clouds__item-r, .clouds__item-l {
  color: white;
  line-height: 1.5;
  background-color: #0095F6;
  padding: 15px 35px;
  border-radius: 50px;
  position: relative;
}

.clouds__item-r:after, .clouds__item-l:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
  border-bottom: 30px solid #0095F6;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: -13px;
  right: 5px;
}

.clouds__item-l:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  -webkit-transform: rotate(220deg);
          transform: rotate(220deg);
  border-bottom: 30px solid #0095F6;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: -13px;
  left: 5px;
}

.clouds__button {
  right: 45px;
  padding: 4px 28px;
  position: absolute;
  border-radius: 30px;
  border: 2px solid #0095F6;
  bottom: -15px;
}

.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 300px 300px;
      grid-template-rows: 300px 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__item__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.services__info {
  min-width: 300px;
  margin-left: 35px;
  margin-top: 40px;
}

.services__info__price {
  min-width: 100%;
}

.services__more {
  border: none;
  background-color: #fff;
}

.info__line {
  max-width: 90px;
  color: #000;
  background-color: #000;
}

.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  -ms-grid-columns: 55% 45%;
  grid-template-columns: 55% 45%;
  -ms-grid-rows: 300px 300px;
  grid-template-rows: 300px 300px;
  -webkit-box-pack: center;
}

.services__info {
  min-width: 300px;
  margin-left: 35px;
  margin-top: 40px;
  margin-top: 50px;
}

.services__info__head {
  margin-bottom: 20px;
}

.services__info__price {
  min-width: 100%;
  line-height: 20px;
}

.services__more {
  background-color: #fff;
}

.table {
  color: grey;
}

.info__line {
  max-width: 90px;
  color: #000;
  background-color: #000;
}

.examples {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 510px 510px 510px;
  grid-template-columns: 510px 510px 510px;
  -ms-grid-rows: 350px 350px;
  grid-template-rows: 350px 350px;
}

.examples__ex__btn {
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  min-width: 422px;
  min-height: 300px;
}
