/* Mixins */
/* Variables */
/* Mixins */
/* Variables */
.header {
  width: 100%;
  height: 86px;
  padding: 20px 0 27px;
  position: relative;
}

.header__links {
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__link {
  display: none;
}

.header__logo {
  display: block;
  margin: 0 auto;
  width: 206px;
  height: 39px;
}

@media (min-width: 600px) {
  .header__logo {
    width: 199px;
  }
}

@media (min-width: 800px) {
  .header__link {
    cursor: pointer;
    display: block;
    margin-right: 26px;
  }
  .header__link:nth-child(1):hover text {
    fill: #0095f6;
  }
  .header__link:nth-child(2):hover text {
    fill: #ffc758;
  }
  .header__link:nth-child(3) {
    margin-right: 0;
  }
  .header__link:nth-child(3):hover text {
    fill: #f476c7;
  }
}

@media (min-width: 900px) {
  .header {
    padding: 23px 0;
  }
}

@media (min-width: 1350px) {
  .header {
    padding: 23px 0;
  }
}

/* Mixins */
/* Variables */
.menu {
  width: 100%;
  border-radius: 25px;
}

.menu__track {
  background-color: #F6F6F6;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 763px;
  margin: 0 auto;
  border-radius: 25px;
  line-height: 20px;
  position: relative;
  height: 39px;
}

.menu__item {
  text-align: center;
  border-radius: 25px;
  color: #8C8C8C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 12px 30px;
  z-index: 2;
}

.menu__item:last-child {
  padding-right: 33px;
}

.menu__item:first-child {
  padding-left: 33px;
}

.menu__item_active {
  background: transparent;
  color: black;
}

.menu__item_fake {
  border-radius: 25px;
  padding: 12px 33px;
  position: absolute;
  background-color: white;
  margin: auto;
  height: 35px;
  left: 2px;
  z-index: 2;
}

@media (min-width: 900px) {
  .menu__track {
    font-size: 17px;
    width: 818px;
    line-height: 23;
    height: 49px;
  }
  .menu__item {
    height: 43px;
  }
  .menu__item_fake {
    border-radius: 25px;
    height: 43px;
    left: 3px;
  }
}

/* Mixins */
/* Variables */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 0;
  padding: 57px 0 0;
}

.slider-block {
  width: 100%;
  min-width: 0;
}

.logo {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

@media (min-width: 900px) {
  .logo {
    display: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
}

.form-block {
  height: 100%;
  padding-left: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-block__label {
  line-height: 1.6;
  width: 300px;
  font-size: 18px;
  position: relative;
  margin-bottom: 20px;
  margin-left: 14px;
}

.form-block__label:before {
  position: absolute;
  border-radius: 5px;
  left: -10px;
  content: "";
  width: 4px;
  background-color: #FDD706;
  height: 100%;
  display: inline-block;
}

.form-block .form .input-group {
  width: 280px;
  padding: 10px;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.15);
          box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.15);
  border-radius: 10px;
}

.form-block .form .input-group__input {
  padding: 10px 5px;
  width: 100%;
  position: relative;
}

.form-block .form .input-group__input input {
  color: black;
  font-size: 16px;
  width: 100%;
}

.form-block .form .input-group__input input::-webkit-input-placeholder {
  color: #8C8C8C;
  font-size: 14px;
}

.form-block .form .input-group__input input:-ms-input-placeholder {
  color: #8C8C8C;
  font-size: 14px;
}

.form-block .form .input-group__input input::-ms-input-placeholder {
  color: #8C8C8C;
  font-size: 14px;
}

.form-block .form .input-group__input input::placeholder {
  color: #8C8C8C;
  font-size: 14px;
}

.form-block .form .input-group__input::after {
  content: "";
  display: block;
  width: 80px;
  height: 1px;
  background-color: #8C8C8C;
  position: absolute;
  bottom: 2px;
  left: 5px;
}

.form-block .form .input-group__input:first-child::after {
  width: 50px;
}

.form-block .form .input-group__input::-webkit-input-placeholder {
  color: #8C8C8C;
}

.form-block .form .input-group__input:-ms-input-placeholder {
  color: #8C8C8C;
}

.form-block .form .input-group__input::-ms-input-placeholder {
  color: #8C8C8C;
}

.form-block .form .input-group__input::placeholder {
  color: #8C8C8C;
}

.form-block .form__checkbox {
  margin: 25px 0 25px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #8C8C8C;
  font-size: 14px;
}

.form-block .form__checkbox {
  position: relative;
}

.form-block .form__checkbox input {
  display: none;
}

.form-block .form__checkbox label::after {
  content: "";
  border: 1px solid #8C8C8C;
  display: block;
  height: 16px;
  width: 16px;
  position: absolute;
  border-radius: 5px;
  right: 25px;
  top: -1.5px;
}

.form-block .form__checkbox input[type="checkbox"]:checked + label:after {
  background: url("/icons/check.svg") center/80% 80% no-repeat;
}

.form-block .form__button {
  font-size: 16px;
  display: block;
  background-color: #0095F6;
  color: white;
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
}

/* Mixins */
/* Variables */
.we-are {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding-bottom: 150px;
  font-size: 28px;
}

.we-are__title {
  text-align: center;
}

.we-are__text, .we-are__text_with-line {
  position: relative;
  font-size: 20px;
}

.we-are__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 1.7;
  width: 100%;
  position: relative;
}

.we-are .img-l, .we-are .img-l_with-cut {
  display: block;
  position: absolute;
  left: 25px;
}

.we-are .img-l_with-cut {
  left: -100px;
}

.we-are .img-r, .we-are .img-r_with-cut {
  display: block;
  position: absolute;
  right: 25px;
}

.we-are .img-r_with-cut {
  right: -100px;
}

.we-are__text_with-line:before {
  position: absolute;
  border-radius: 5px;
  left: -20px;
  content: "";
  width: 8px;
  background-color: #FDD706;
  height: 100%;
  display: inline-block;
}

.we-are__label {
  padding-bottom: 5px;
}

.we-are__link {
  font-weight: 600;
  display: inline-block;
  font-size: 14px;
  color: #0095F6;
  position: relative;
}

.we-are__link::after {
  font-weight: 800;
  background: url("/icons/arrow-right.svg") center/100% 100% no-repeat;
  width: 10px;
  height: 10px;
  color: #0095F6;
  content: "";
  position: absolute;
  right: -16px;
  top: 7px;
}

.we-are__sub-label {
  font-size: 16px;
}

/* Mixins */
/* Variables */
.clouds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 100px;
}

.clouds__item-r, .clouds__item-l {
  color: white;
  line-height: 1.5;
  background-color: #0095F6;
  padding: 15px 35px;
  border-radius: 50px;
  position: relative;
}

.clouds__item-r:after, .clouds__item-l:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
  border-bottom: 30px solid #0095F6;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: -13px;
  right: 5px;
}

.clouds__item-l:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  -webkit-transform: rotate(220deg);
          transform: rotate(220deg);
  border-bottom: 30px solid #0095F6;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: -13px;
  left: 5px;
}

.clouds__button {
  right: 45px;
  padding: 4px 28px;
  position: absolute;
  border-radius: 30px;
  border: 2px solid #0095F6;
  bottom: -15px;
  background-color: #fff;
}

/* Mixins */
/* Variables */
.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 300px 300px;
      grid-template-rows: 300px 300px;
  padding-bottom: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__info {
  margin-left: 35px;
  margin-top: 50px;
}

.services__price {
  min-width: 100%;
  line-height: 20px;
}

.services__head {
  margin-bottom: 20px;
}

.services__more {
  display: block;
  color: black;
  padding-top: 25px;
  font-size: 15px;
  font-weight: 600;
}

.info__line {
  max-width: 90px;
  color: #000;
  background-color: #000;
}

/* Mixins */
/* Variables */
.examples {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 300px 300px;
      grid-template-rows: 300px 300px;
  gap: 25px;
}

.examples__btn {
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
}

/* Mixins */
/* Variables */
.love {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 190px;
  margin-bottom: 85px;
  font-size: 25px;
  min-width: 550px;
}

.love__container {
  position: relative;
}

.love__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 7px;
  margin-bottom: 7px;
}

.love__first {
  color: #8C8C8C;
  opacity: 0.5;
  margin-right: 80px;
}

.love__second {
  color: #8C8C8C;
  opacity: 0.5;
}

.love__third {
  color: #8C8C8C;
  opacity: 0.5;
  padding-left: 40px;
  margin-right: 70px;
}

.love__fourth {
  color: #8C8C8C;
  opacity: 0.5;
}

/* Mixins */
/* Variables */
.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-bottom: 210px;
}

.process__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.process__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  line-height: 1.5;
}

.process__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #FDD706;
  border-radius: 40px;
  font-size: 25px;
  width: 64px;
  height: 64px;
  margin-bottom: 31px;
}

.process__header {
  font-weight: 600;
  text-align: center;
  font-size: 23px;
  margin-bottom: 23px;
}

.process__text {
  text-align: center;
}

.process__btnContainer {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 92px;
}

.process__btn {
  width: 345px;
  height: 41px;
  background-color: #0095F6;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  border-radius: 7px;
  font-size: 17px;
  color: #fff;
}

/* Mixins */
/* Variables */
.contacts {
  padding: 200px 230px;
}

.contacts__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 110px;
}

.contacts__label {
  width: 425px;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 40px;
}

.contacts__label p {
  padding-bottom: 10px;
}

.contacts__label .pink {
  background-color: #F476C7;
  color: white;
}

.contacts__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-items__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 330px;
  font-size: 19px;
  padding-bottom: 16px;
}

.contacts-items__row:last-child {
  padding-bottom: 0;
}

.contacts-items__key {
  color: #8C8C8C;
}

.contacts-items__value {
  color: #0095F6;
}

.links {
  width: 171px;
}

.links__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 35px;
}

.links__row:last-child {
  padding-bottom: 0;
}

/* Mixins */
/* Variables */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  text-align: center;
  padding-bottom: 56px;
  font-size: 19px;
}

.company-came {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.company-came span {
  color: #8C8C8C;
}

.user-terms {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  color: #8C8C8C;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.wrapper {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

.container {
  padding: 0 15px;
  width: 100%;
}

@media (min-width: 1350px) {
  .container {
    margin: 0 auto;
    width: 1300px;
  }
}
