/* Mixins */
/* Variables */
/* Classes */
/* Mixins */
/* Variables */
/* Classes */
.header {
  width: 100%;
  height: 86px;
  padding: 20px 0 27px;
  position: relative;
}

.header__links {
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__link {
  display: none;
}

.header__logo {
  display: block;
  margin: 0 auto;
  width: 206px;
  height: 39px;
}

.header .desktop {
  display: none;
}

.header .mobile {
  display: block;
}

@media (min-width: 600px) {
  .header__logo {
    width: 199px;
  }
  .header .desktop {
    display: block;
  }
  .header .mobile {
    display: none;
  }
}

@media (min-width: 800px) {
  .header__link {
    cursor: pointer;
    display: block;
    margin-right: 26px;
  }
  .header__link:nth-child(1) {
    width: 39px;
  }
  .header__link:nth-child(1) svg:hover text {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    fill: #0095f6;
  }
  .header__link:nth-child(2) {
    width: 38px;
  }
  .header__link:nth-child(2):hover svg text {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    fill: #ffc758;
  }
  .header__link:nth-child(3) {
    margin-right: 0;
  }
  .header__link:nth-child(3) svg {
    width: 59px;
  }
  .header__link:nth-child(3):hover svg text {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    fill: #f476c7;
  }
}

@media (min-width: 900px) {
  .header {
    padding: 23px 0;
    margin-bottom: 25px;
  }
}

@media (min-width: 1350px) {
  .header {
    padding: 23px 0;
  }
}

/* Mixins */
/* Variables */
/* Classes */
.menu, .menu-copy {
  width: 100%;
  border-radius: 25px;
}

.menu a, .menu-copy a {
  z-index: 2;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__track {
  background-color: #F6F6F6;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 686px;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  height: 44px;
}

.menu__item {
  cursor: pointer;
  display: block;
  font-weight: 200;
  text-align: center;
  border-radius: 25px;
  color: #7D7D7D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 35px;
  z-index: 2;
}

.menu__item_active {
  background: transparent;
  color: black;
  font-weight: 400;
  cursor: pointer;
}

.menu__item_fake {
  border-radius: 25px;
  position: absolute;
  background-color: white;
  height: 40px;
  left: 2px;
  top: 2px;
  z-index: 2;
  cursor: pointer;
}

.menu #menu-we, .menu-copy #menu-we {
  width: calc(23px + 50px);
  padding-left: 2px;
}

.menu #menu-services, .menu-copy #menu-services {
  width: calc(48px + 50px);
}

.menu #menu-examples, .menu-copy #menu-examples {
  width: calc(82px + 50px);
}

.menu #menu-process, .menu-copy #menu-process {
  width: calc(98px + 50px);
}

.menu #menu-vacancies, .menu-copy #menu-vacancies {
  width: calc(68px + 50px);
}

.menu #menu-contacts, .menu-copy #menu-contacts {
  width: calc(68px + 50px);
  padding-right: 2px;
}

@media (min-width: 900px) {
  .menu__track {
    font-size: 17px;
    width: 794px;
    height: 49px;
  }
  .menu__item {
    height: 43px;
    font-weight: normal;
    margin: 0 auto;
  }
  .menu__item_active {
    font-weight: normal;
  }
  .menu__item_fake {
    border-radius: 25px;
    height: 43px;
    left: 3px;
    top: 3px;
  }
  .menu #menu-we, .menu-copy #menu-we {
    width: calc(25.5px + 60px);
    padding-left: 3px;
  }
  .menu #menu-services, .menu-copy #menu-services {
    width: calc(53px + 60px);
  }
  .menu #menu-examples, .menu-copy #menu-examples {
    width: calc(91.5px + 60px);
  }
  .menu #menu-process, .menu-copy #menu-process {
    width: calc(109.5px + 60px);
  }
  .menu #menu-vacancies, .menu-copy #menu-vacancies {
    width: calc(76px + 60px);
  }
  .menu #menu-contacts, .menu-copy #menu-contacts {
    width: calc(75.5px + 60px);
    padding-right: 3px;
  }
}

.menu-copy {
  display: none;
  background: #fff;
}

.menu-copy .menu__track {
  opacity: 0;
}

/* Mixins */
/* Variables */
/* Classes */
.main {
  min-width: 0;
  padding: 57px 0 90px;
}

.main__container_600 {
  width: 100%;
}

.arrows-3 {
  display: none;
}

.slider-block {
  width: 100%;
  min-width: 0;
  padding-bottom: 53px;
}

.logo {
  display: none;
}

.logo_900 {
  display: none;
}

.logo-circle {
  display: none;
}

.form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.form-block__label {
  width: 100%;
  font-size: 19px;
  position: relative;
  margin-bottom: 25px;
  margin-left: 15px;
  padding-left: 5px;
}

.form-block__label:before {
  position: absolute;
  border-radius: 5px;
  left: -15px;
  content: "";
  width: 5px;
  background-color: #FDD706;
  height: 55px;
  bottom: -3.5px;
  display: inline-block;
}

.form-block__label p:first-child {
  font-weight: 600;
  margin-bottom: 13px;
}

.form-block .form {
  width: 100%;
}

.form-block .form .input-group {
  width: 100%;
  padding: 10px 0 17px 15px;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.15);
          box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.15);
  border-radius: 7px;
}

.form-block .form .input-group__input, .contacts__main .form-block .form .input-group__textarea {
  padding: 10px 0 18px;
  width: 100%;
  font-size: 15px;
  position: relative;
  padding-right: 15px;
}

.form-block .form .input-group__input input, .contacts__main .form-block .form .input-group__textarea input {
  color: black;
  font-size: 16px;
  width: 100%;
}

.form-block .form .input-group__input input::-webkit-input-placeholder, .contacts__main .form-block .form .input-group__textarea input::-webkit-input-placeholder {
  color: #8C8C8C;
}

.form-block .form .input-group__input input:-ms-input-placeholder, .contacts__main .form-block .form .input-group__textarea input:-ms-input-placeholder {
  color: #8C8C8C;
}

.form-block .form .input-group__input input::-ms-input-placeholder, .contacts__main .form-block .form .input-group__textarea input::-ms-input-placeholder {
  color: #8C8C8C;
}

.form-block .form .input-group__input input::placeholder, .contacts__main .form-block .form .input-group__textarea input::placeholder {
  color: #8C8C8C;
}

.form-block .form .input-group__input::after, .contacts__main .form-block .form .input-group__textarea::after {
  content: "";
  display: block;
  width: 111px;
  height: 1px;
  background-color: #8C8C8C;
  position: absolute;
  bottom: 2px;
  left: 0px;
}

.form-block .form .input-group__input:first-child::after, .contacts__main .form-block .form .input-group__textarea:first-child::after {
  width: 77px;
}

.form-block .form .input-group__input::-webkit-input-placeholder, .contacts__main .form-block .form .input-group__textarea::-webkit-input-placeholder {
  color: #8C8C8C;
}

.form-block .form .input-group__input:-ms-input-placeholder, .contacts__main .form-block .form .input-group__textarea:-ms-input-placeholder {
  color: #8C8C8C;
}

.form-block .form .input-group__input::-ms-input-placeholder, .contacts__main .form-block .form .input-group__textarea::-ms-input-placeholder {
  color: #8C8C8C;
}

.form-block .form .input-group__input::placeholder, .contacts__main .form-block .form .input-group__textarea::placeholder {
  color: #8C8C8C;
}

.form-block .form__checkbox {
  margin: 29px 0 32px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #7D7D7D;
  position: relative;
  font-size: 15px;
}

.form-block .form__checkbox:before {
  position: absolute;
  border-radius: 5px;
  left: -15px;
  content: "";
  width: 5px;
  background-color: #F6F6F6;
  height: 35px;
  bottom: -10px;
  display: inline-block;
}

.form-block .form__checkbox input {
  display: none;
}

.form-block .form__checkbox label {
  position: relative;
}

.form-block .form__checkbox label::after {
  content: "";
  border: 1px solid #7D7D7D;
  display: block;
  height: 16px;
  width: 16px;
  position: absolute;
  border-radius: 3px;
  right: -27px;
  top: 0px;
}

.form-block .form__checkbox input[type="checkbox"]:checked + label:after {
  background: url("../../icons/check.svg") center/80% 80% no-repeat;
}

.form-block .form__button {
  font-size: 17px;
  display: block;
  background-color: #0095F6;
  color: white;
  width: 100%;
  text-align: center;
  height: 41px;
  border-radius: 7px;
}

.form-block .form__button:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #0081D6;
}

@media (min-width: 600px) {
  .logo-circle {
    display: block;
    margin: 0;
    min-width: 235px;
    min-height: 235px;
    max-width: 235px;
    max-height: 235px;
    margin-right: 35px;
  }
  .logo-circle img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .main__container_600 {
    margin: 0 auto;
    max-width: 648px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-direction: row;
        flex-direction: row;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form-block {
    max-width: 338px;
  }
}

@media (min-width: 900px) {
  .logo-circle {
    display: none;
  }
  .logo_900 {
    display: block;
  }
  .main {
    padding-bottom: 150px;
  }
  .main__container_600 {
    max-width: 827px;
    padding: 0 15px;
  }
  .form-block {
    max-width: 338px;
  }
  .form-block__label {
    margin-top: 8px;
    font-size: 21px;
  }
  .form-block__label:before {
    position: absolute;
    border-radius: 5px;
    left: -15px;
    content: "";
    width: 5px;
    background-color: #FDD706;
    height: 68px;
    bottom: -5px;
    display: inline-block;
  }
}

@media (min-width: 1350px) {
  .main {
    padding: 90px 0 90px;
    max-width: 1200px;
    min-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto;
  }
  .main__container_600 {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.33%;
            flex: 1 1 33.33%;
    padding: 0;
    min-width: 333px;
    max-width: 333px;
  }
  .arrows-3 {
    display: block;
    margin-top: 89px;
    margin-left: 57px;
  }
  .logo-circle {
    display: none;
  }
  .logo_900 {
    display: none;
  }
  .logo {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.33%;
            flex: 1 1 33.33%;
    max-width: 333px;
  }
  .slider-block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.33%;
            flex: 1 1 33.33%;
    max-width: 333px;
    min-width: 333px;
    padding-bottom: 0;
  }
  .form-block {
    width: 100%;
    padding-right: 0;
  }
}

/* Mixins */
/* Variables */
/* Classes */
.we-are {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 90px;
  font-size: 17px;
}

.we-are__title {
  font-weight: 600;
  text-align: center;
  line-height: 35px;
  font-size: 23px;
}

.we-are__item {
  width: 100%;
}

.we-are__item:first-child {
  margin-bottom: 55px;
}

.we-are .img-l {
  display: block;
  margin-left: calc(-15px - 39px);
  margin-bottom: -33px;
}

.we-are__text, .we-are__text_with-line {
  padding: 0 15px;
  position: relative;
  line-height: 33px;
  text-align: center;
}

.we-are__text b, .we-are__text_with-line b {
  font-weight: 600;
}

.we-are .mt-30 {
  margin-top: 30px;
}

.we-are .p-l-r-15 {
  padding: 0 23px;
  text-align: center;
}

.we-are .img-r, .we-are .img-r-last {
  float: right;
  display: block;
  margin-right: calc(-15px - 24px);
  margin-top: 33px;
}

.we-are .img-r-last {
  margin-top: 0;
}

.we-are__text_with-line {
  text-align: left;
  font-size: 15px;
}

.we-are__text_with-line:before {
  position: absolute;
  border-radius: 5px;
  left: -15px;
  content: "";
  width: 15px;
  background-color: #FDD706;
  height: 163px;
  bottom: -28px;
  display: inline-block;
}

.we-are__text_with-line b {
  font-size: 19px;
}

.we-are__label {
  margin-bottom: 26px;
}

.we-are__link {
  margin-top: 27.5px;
  font-weight: 600;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  color: #0095F6;
  position: relative;
  cursor: pointer;
}

.we-are__link:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #0081D6;
}

.we-are__link::after {
  font-weight: 800;
  background: url("./../../icons/arrow-right.svg") center/100% 100% no-repeat;
  width: 10px;
  height: 10px;
  color: #0095F6;
  content: "";
  position: absolute;
  right: -16px;
  top: 4px;
}

.we-are__sub-label {
  margin-top: 25px;
  font-size: 17px;
}

@media (max-width: 325px) {
  .we-are__text_with-line {
    font-size: 14px;
  }
  .we-are__text_with-line b {
    font-size: 18px;
  }
}

@media (min-width: 355px) {
  .we-are__text_with-line {
    font-size: 17px;
  }
  .we-are__text_with-line b {
    font-size: 19px;
  }
}

@media (min-width: 376px) {
  .we-are__text_with-line {
    font-size: 17px;
  }
  .we-are__text_with-line b {
    font-size: 23px;
  }
}

@media (min-width: 448px) {
  .we-are__text_with-line {
    width: 375px;
    margin: 0 auto;
    text-align: left;
    padding-left: 40px;
  }
  .we-are__text_with-line:before {
    position: absolute;
    border-radius: 5px;
    left: 0px;
    content: "";
    width: 15px;
    background-color: #FDD706;
    height: 135px;
    bottom: -15px;
    display: inline-block;
  }
}

@media (min-width: 600px) {
  .we-are__item:first-child {
    margin-bottom: 90px;
  }
}

@media (min-width: 900px) {
  .we-are {
    font-size: 25px;
  }
  .we-are__title {
    font-size: 30px;
  }
  .we-are__link {
    font-size: 19px;
    margin-top: 22.5px;
  }
  .we-are__sub-label {
    font-size: 19px;
    margin-top: 11px;
  }
  .we-are__text_with-line {
    line-height: 40px;
    width: 425px;
  }
  .we-are__text_with-line:before {
    position: absolute;
    border-radius: 5px;
    left: 0px;
    content: "";
    width: 15px;
    background-color: #FDD706;
    height: 135px;
    bottom: -1px;
    display: inline-block;
  }
  .we-are__text_with-line b {
    font-size: 25px;
  }
}

/* Mixins */
/* Variables */
/* Classes */
.clouds {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clouds__item {
  color: white;
  background-color: #0095F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 17px;
  font-size: 17px;
  position: relative;
  line-height: 20px;
}

.clouds__item-r {
  float: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 19px 52px;
  width: 100%;
  max-width: 345px;
}

.clouds__item-r p, .clouds__item-r b {
  display: block;
}

.clouds__item-r:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
  border-bottom: 35px solid #0095F6;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: -7px;
  right: -3px;
}

.clouds__item-l {
  line-height: 17px;
  margin-bottom: 20px;
  width: 241px;
  height: 39px;
}

.clouds__item-l p {
  padding-bottom: 2px;
}

.clouds__item-l:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  -webkit-transform: rotate(235deg);
          transform: rotate(235deg);
  border-bottom: 30px solid #0095F6;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: -15px;
  left: -5px;
}

.clouds__button {
  font-size: 17px;
  right: 38px;
  position: absolute;
  border-radius: 17px;
  width: 203px;
  height: 41px;
  border: 3px solid #0095F6;
  bottom: -31px;
  background-color: #fff;
}

@media (min-width: 700px) {
  .clouds {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .clouds__item-l {
    margin-bottom: 0;
  }
}

@media (min-width: 900px) {
  .clouds__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .clouds__item::after {
    display: none;
  }
}

@media (min-width: 1350px) {
  .clouds__item-l {
    width: 309px;
    height: 48px;
  }
  .clouds__item-r {
    max-width: 510px;
  }
}

/* Mixins */
/* Variables */
/* Classes */
.services {
  margin-top: 77px;
  margin-bottom: 90px;
  width: 100%;
}

.services__block {
  width: 100%;
  margin-bottom: 77px;
}

.services__block:last-child {
  margin-bottom: 0;
}

.services__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 55px;
  padding-left: 50px;
}

.services__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(245px, auto))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(245px, auto));
  grid-gap: 61px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer {
  width: 100%;
  min-width: 245px;
  max-width: 272px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.offer__link {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../../icons/services/landing_site_white.png");
}

.offer__label {
  top: -11px;
  color: white;
  font-size: 17px;
  font-weight: 400;
  border-radius: 7px;
  text-align: center;
  padding: 6px 35px 7px 35px;
  background: #0095F6;
  position: absolute;
  z-index: 3;
}

.offer__label-unique {
  background: #F476C7;
}

.offer__icon-wrap {
  position: relative;
  cursor: pointer;
}

.offer__icon-wrap:hover .white {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.offer__icon-wrap:hover .black {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

.offer__icon {
  display: block;
  border-radius: 7px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  width: 100%;
}

.offer .black {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  opacity: 0;
}

.offer__title {
  font-size: 21px;
  text-align: center;
  padding: 0 7px;
  margin-bottom: 14px;
  line-height: 27px;
}

.offer__timing {
  width: 100%;
  padding: 0 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  margin-bottom: 22px;
}

.offer__days, .offer__hours {
  width: 50%;
  text-align: center;
  position: relative;
}

.offer__days::before, .offer__hours::before {
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background: #FF7276;
  position: absolute;
  left: 0;
  top: calc(50% - 5px);
}

.offer__days {
  margin-right: 11px;
}

.offer__hours::before {
  background: #F476C7;
}

.offer__price {
  display: block;
  cursor: pointer;
  width: 100%;
  border-radius: 7px;
  background: #F8F8F8;
  font-size: 19px;
  padding: 0 7px;
  text-align: center;
  height: 40px;
  padding: 10px 0;
  display: block;
}

.offer__price:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #0095F6;
  color: #fff;
}

@media (min-width: 900px) {
  .services {
    margin-bottom: 150px;
  }
}

/* Mixins */
/* Variables */
/* Classes */
.examples {
  margin-bottom: 90px;
}

.examples__title {
  font-size: 23px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 55px;
}

.examples__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(345px, auto))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(345px, auto));
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.examples__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 5px;
  background-color: #fff;
  width: 345px;
  height: 251px;
  cursor: pointer;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.examples__btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.examples__btn:nth-child(1) {
  background: url("../../icons/examples/potrfolio_mobyte.svg") 0 0/100% 100% no-repeat;
}

.examples__btn:nth-child(2) {
  background: url("../../icons/examples/potrfolio_sundelux.svg") 0 0/100% 100% no-repeat;
}

.examples__btn:nth-child(3) {
  background: url("../../icons/examples/potrfolio_brucelogmun.svg") 0 0/100% 100% no-repeat;
}

.examples__label {
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 7px;
}

.examples__subLabel {
  font-size: 17px;
  text-align: center;
}

@media (min-width: 1350px) {
  .examples {
    margin-bottom: 150px;
  }
  .examples__btn {
    width: 412px;
    height: 300px;
  }
}

/* Mixins */
/* Variables */
/* Classes */
.love {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 90px;
  font-size: 23px;
}

.love__title {
  font-weight: 600;
  margin-bottom: 90px;
}

.love__container {
  color: #DEDEDE;
  min-width: 375px;
  overflow: hidden;
}

.love__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 6px 0;
  color: #000;
}

.love__first {
  margin-right: 52px;
}

.love__third {
  margin-left: 26px;
  margin-right: 75px;
}

@media (min-width: 900px) {
  .love {
    font-size: 25px;
  }
  .love__main {
    margin: 9px 0;
  }
  .love__first {
    margin-right: 39px;
  }
  .love__third {
    margin-left: 27px;
    margin-right: 78px;
  }
}

/* Mixins */
/* Variables */
/* Classes */
.process {
  width: 100%;
  margin-bottom: 55px;
}

.process__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.process__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 345px;
  margin-bottom: 61px;
}

.process__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #FDD706;
  border-radius: 100%;
  font-size: 25px;
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
  font-weight: 600;
}

.process__header {
  font-weight: 600;
  text-align: center;
  font-size: 23px;
  margin-bottom: 23px;
  line-height: 34px;
}

.process__text {
  font-size: 17px;
  text-align: center;
  line-height: 30px;
}

.process__btn {
  display: block;
  width: 100%;
  height: 41px;
  background-color: #0095F6;
  border-radius: 7px;
  font-size: 17px;
  color: #fff;
}

.process__btn:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #0081D6;
}

@media (min-width: 600px) {
  .process__btn {
    margin: 0 auto;
    width: 300px;
  }
}

@media (min-width: 900px) {
  .process {
    margin-bottom: 150px;
  }
  .process__num {
    font-size: 25px;
  }
  .process__header {
    font-size: 25px;
  }
  .process__text {
    font-size: 19px;
  }
  .process__btn {
    margin: 0 auto;
    width: 300px;
  }
}

@media (min-width: 1200px) {
  .process {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 90px;
  }
  .process__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 90px;
  }
  .process__item {
    max-width: 330px;
    margin-bottom: 0;
  }
  .process__header {
    font-size: 23px;
  }
  .process__text {
    font-size: 17px;
  }
}

@media (min-width: 1200px) {
  .process {
    margin-bottom: 150px;
  }
}

/* Mixins */
/* Variables */
/* Classes */
.vacancies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 55px;
}

.vacancies .img-l,
.vacancies .img-r,
.vacancies .we-are .img-r-last,
.we-are .vacancies .img-r-last {
  display: none;
}

.vacancies .img-top {
  margin-bottom: 55px;
}

.vacancies .img-top-600,
.vacancies .img-bottom-600 {
  display: none;
}

.vacancies__title {
  font-size: 23px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 55px;
}

.vacancies .cards {
  width: 100%;
}

.vacancies .card {
  width: 100%;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
  min-height: 200px;
  position: relative;
  margin: 0 auto 30px;
}

.vacancies .card:last-child {
  margin-bottom: 55px;
}

.vacancies .card__main {
  padding: 30px 30px 33px;
}

.vacancies .card__main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.vacancies .card_desc {
  color: #7D7D7D;
  font-size: 17px;
  line-height: 27px;
}

.vacancies .card__top {
  font-weight: 600;
  margin-bottom: 25px;
}

.vacancies .card__label {
  font-size: 21px;
  margin-bottom: 17px;
}

.vacancies .card__percent {
  font-size: 15px;
  color: #AAAAAA;
}

.vacancies .card__addition {
  display: none;
}

.vacancies .description {
  position: relative;
  padding: 33px 30px;
  font-size: 16px;
  line-height: 1.4em;
  color: black;
}

.vacancies .description h3 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 20px;
}

.vacancies .description a {
  color: #0095F6;
  text-decoration: underline;
}

.vacancies .description ul, .vacancies .description ol {
  padding-left: 10px;
  margin-bottom: 20px;
  margin-left: 19px;
}

.vacancies .description ul li, .vacancies .description ol li {
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  .vacancies {
    margin-bottom: 90px;
  }
  .vacancies .img-top,
  .vacancies .img-bottom {
    display: none;
  }
  .vacancies .img-top-600,
  .vacancies .img-bottom-600 {
    display: block;
  }
  .vacancies .active .card__top::before, .vacancies .active .card__top::after {
    background: #0095F6;
  }
  .vacancies .active .card__top::before {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  .vacancies .active .card__top::after {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  .vacancies .card {
    max-width: 574px;
    border-radius: 7px;
    height: auto;
    min-height: 122px;
  }
  .vacancies .card__main {
    padding: 25px 41px 25px 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    cursor: pointer;
  }
  .vacancies .card__main-block {
    width: 100%;
    margin-right: 60px;
    text-align: left;
  }
  .vacancies .card__label {
    margin-bottom: 0;
  }
  .vacancies .card__top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-direction: row;
        flex-direction: row;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 17px;
  }
  .vacancies .card__top::before, .vacancies .card__top::after {
    content: '';
    width: 15px;
    height: 3px;
    border-radius: 10px;
    background-color: #000;
    position: absolute;
    top: calc(50% - 3px);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .vacancies .card__top:before {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    right: 49px;
  }
  .vacancies .card__top:after {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    right: 40px;
  }
  .vacancies .card_desc {
    width: 100%;
  }
  .vacancies .description {
    padding: 25px 41px 25px 35px;
  }
}

@media (min-width: 900px) {
  .vacancies .img-top,
  .vacancies .img-bottom {
    display: block;
  }
  .vacancies .img-top-600,
  .vacancies .img-bottom-600 {
    display: none;
  }
}

@media (min-width: 1350px) {
  .vacancies {
    margin-bottom: 195px;
  }
  .vacancies .img-top,
  .vacancies .img-bottom {
    display: none;
  }
  .vacancies .img-l {
    display: block;
    position: absolute;
    left: -30px;
  }
  
  .vacancies .img-r,
  .vacancies .we-are .img-r-last,
  .we-are .vacancies .img-r-last {
    display: block;
    position: absolute;
    right: -30px;
  }
  .vacancies__title {
    display: none;
  }
}

/* Mixins */
/* Variables */
/* Classes */
.contacts {
  width: 100%;
  margin-bottom: 185px;
}

.contacts__logo {
  display: block;
  margin: 0 auto 55px;
}

.contacts__logo_circle {
  display: none;
}

.contacts__main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__main .form-block {
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #fff;
}

.contacts__main .form-block__label {
  width: 100%;
  font-size: 19px;
  position: relative;
  margin-bottom: 25px;
  margin-left: 15px;
  padding-left: 5px;
  font-weight: 600;
}

.contacts__main .form-block__label:before {
  position: absolute;
  border-radius: 5px;
  left: -15px;
  content: "";
  width: 5px;
  background-color: #FDD706;
  height: 55px;
  bottom: -3.5px;
  display: inline-block;
}

.contacts__main .form-block__label p:first-child {
  margin-bottom: 13px;
}

.contacts__main .form-block .form {
  width: 100%;
  /* Track */
  /* Handle */
}

.contacts__main .form-block .form .input-group {
  overflow-y: auto;
  max-height: 179px;
  width: 100%;
  padding: 10px 0 17px 15px;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.15);
          box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.15);
  border-radius: 7px;
}

.contacts__main .form-block .form .input-group__input, .contacts__main .form-block .form .input-group__textarea {
  padding: 10px 0 18px;
  width: 100%;
  font-size: 15px;
  position: relative;
  padding-right: 15px;
}

.contacts__main .form-block .form .input-group__input input, .contacts__main .form-block .form .input-group__textarea input {
  color: black;
  font-size: 16px;
  width: 100%;
}

.contacts__main .form-block .form .input-group__input input::-webkit-input-placeholder, .contacts__main .form-block .form .input-group__textarea input::-webkit-input-placeholder {
  color: #8C8C8C;
}

.contacts__main .form-block .form .input-group__input input:-ms-input-placeholder, .contacts__main .form-block .form .input-group__textarea input:-ms-input-placeholder {
  color: #8C8C8C;
}

.contacts__main .form-block .form .input-group__input input::-ms-input-placeholder, .contacts__main .form-block .form .input-group__textarea input::-ms-input-placeholder {
  color: #8C8C8C;
}

.contacts__main .form-block .form .input-group__input input::placeholder, .contacts__main .form-block .form .input-group__textarea input::placeholder {
  color: #8C8C8C;
}

.contacts__main .form-block .form .input-group__input::after, .contacts__main .form-block .form .input-group__textarea::after {
  content: "";
  display: block;
  width: 111px;
  height: 1px;
  background-color: #8C8C8C;
  position: absolute;
  bottom: 2px;
  left: 0px;
}

.contacts__main .form-block .form .input-group__textarea textarea {
  overflow: hidden;
  resize: none;
  width: 100%;
  color: black;
  font-size: 16px;
}

.contacts__main .form-block .form .input-group__textarea textarea::-webkit-input-placeholder {
  color: #8C8C8C;
}

.contacts__main .form-block .form .input-group__textarea textarea:-ms-input-placeholder {
  color: #8C8C8C;
}

.contacts__main .form-block .form .input-group__textarea textarea::-ms-input-placeholder {
  color: #8C8C8C;
}

.contacts__main .form-block .form .input-group__textarea textarea::placeholder {
  color: #8C8C8C;
}

.contacts__main .form-block .form .input-group__input:first-child::after, .contacts__main .form-block .form .input-group__textarea:first-child::after {
  width: 77px;
}

.contacts__main .form-block .form .input-group__input:last-child::after, .contacts__main .form-block .form .input-group__textarea:last-child::after {
  width: 155px;
}

.contacts__main .form-block .form .input-group__input::-webkit-input-placeholder, .contacts__main .form-block .form .input-group__textarea::-webkit-input-placeholder {
  color: #8C8C8C;
}

.contacts__main .form-block .form .input-group__input:-ms-input-placeholder, .contacts__main .form-block .form .input-group__textarea:-ms-input-placeholder {
  color: #8C8C8C;
}

.contacts__main .form-block .form .input-group__input::-ms-input-placeholder, .contacts__main .form-block .form .input-group__textarea::-ms-input-placeholder {
  color: #8C8C8C;
}

.contacts__main .form-block .form .input-group__input::placeholder, .contacts__main .form-block .form .input-group__textarea::placeholder {
  color: #8C8C8C;
}

.contacts__main .form-block .form__checkbox {
  margin: 29px 0 32px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #7D7D7D;
  position: relative;
  font-size: 15px;
}

.contacts__main .form-block .form__checkbox:before {
  position: absolute;
  border-radius: 5px;
  left: -15px;
  content: "";
  width: 5px;
  background-color: #F6F6F6;
  height: 35px;
  bottom: -10px;
  display: inline-block;
}

.contacts__main .form-block .form__checkbox input {
  display: none;
}

.contacts__main .form-block .form__checkbox label {
  position: relative;
}

.contacts__main .form-block .form__checkbox label::after {
  content: "";
  border: 1px solid #7D7D7D;
  display: block;
  height: 16px;
  width: 16px;
  position: absolute;
  border-radius: 3px;
  right: -27px;
  top: -1px;
}

.contacts__main .form-block .form__checkbox input[type="checkbox"]:checked + label:after {
  background: url("../../icons/check.svg") center/80% 80% no-repeat;
}

.contacts__main .form-block .form__button {
  font-size: 17px;
  display: block;
  background-color: #0095F6;
  color: white;
  width: 100%;
  text-align: center;
  height: 41px;
  border-radius: 7px;
}

.contacts__main .form-block .form__button:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #0081D6;
}

.contacts__main .form-block .form ::-webkit-scrollbar {
  width: 10px;
}

.contacts__main .form-block .form ::-webkit-scrollbar-track {
  border-radius: 5px;
}

.contacts__main .form-block .form ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #e9e9e9;
}

.contacts__label {
  display: inline-block;
  font-size: 21px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 24px;
}

.contacts__label p {
  margin-bottom: 5px;
}

.contacts__label p:last-child {
  margin-bottom: 0;
}

.contacts__label .pink {
  background-color: #F476C7;
  color: white;
}

.contacts__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-items {
  margin-bottom: 55px;
}

.contacts-items__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 330px;
  font-size: 19px;
  padding-bottom: 16px;
}

.contacts-items__row:last-child {
  padding-bottom: 0;
}

.contacts-items__key {
  color: #7D7D7D;
}

.contacts-items__value {
  color: #0095F6;
}

.contact-links {
  margin: 0 auto;
  width: 100%;
}

.contact-links__item_big {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 9px;
  max-width: 212px;
}

.contact-links__item_big:nth-child(1) svg {
  cursor: pointer;
}

.contact-links__item_big:nth-child(1) svg:hover text,
.contact-links__item_big:nth-child(1) svg:hover path {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  fill: #FF7276;
}

.contact-links__item_big:nth-child(2) {
  margin-bottom: 55px;
}

.contact-links__item_big:nth-child(2) svg:hover text,
.contact-links__item_big:nth-child(2) svg:hover path {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  fill: #58F3FF;
}

.contact-links__item {
  display: block;
  cursor: pointer;
}

.contact-links__item:nth-child(1) svg:hover text {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  fill: #0095f6;
}

.contact-links__item:nth-child(2):hover svg text {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  fill: #ffc758;
}

.contact-links__item:nth-child(3) {
  margin-right: 0;
}

.contact-links__item:nth-child(3):hover svg text {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  fill: #f476c7;
}

.contact-links__row {
  margin: 0 auto;
  width: 188px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 600px) {
  .contacts {
    margin: 0 auto 185px;
  }
  .contacts__label {
    margin-bottom: 90px;
    font-size: 30px;
    line-height: 38px;
  }
  .contacts__logo {
    display: none;
  }
  .contacts .form-block {
    margin-bottom: 0;
  }
  .contacts__logo_circle {
    display: block;
    margin-right: 35px;
  }
  .contacts__main {
    margin: 0 auto;
    max-width: 650px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 90px;
  }
}

@media (min-width: 900px) {
  .contacts {
    width: 100%;
    max-width: 808px;
    margin: 0 auto 185px;
  }
  .contacts .contacts-items {
    margin-bottom: 0;
  }
  .contacts .contact-links {
    margin-left: 100px;
  }
  .contacts__row_900 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-direction: row;
        flex-direction: row;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contacts__logo {
    display: block;
    margin: 0 97px 0 0;
    height: 100%;
    width: 100%;
  }
  .contacts__logo_circle {
    display: none;
  }
  .contacts .form-block__label {
    font-size: 21px;
  }
  .contacts__main {
    max-width: 808px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1350px) {
  .contacts .contact-links {
    width: auto;
    margin: 0;
  }
  .contacts__row_900 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-direction: row;
        flex-direction: row;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts__logo {
    display: block;
    margin-right: 97px;
  }
  .contacts__logo_circle {
    display: none;
  }
  .contacts .form-block__label {
    font-size: 21px;
  }
}

/* Mixins */
/* Variables */
/* Classes */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
  padding-bottom: 55px;
  font-size: 17px;
}

.company-came {
  margin-bottom: 30px;
}

.company-came span {
  font-weight: 600;
  color: #8C8C8C;
}

.user-terms {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  color: #8C8C8C;
}

@media (min-width: 600px) {
  .footer {
    font-size: 19px;
  }
}

@media (min-width: 1350px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .company-came {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin-bottom: 0;
  }
}

.success, .fail {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.09);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.success__modal, .fail__modal {
  background: #fff;
  max-width: 350px;
  border-radius: 11px;
  font-size: 17px;
  padding: 20px 20px 25px;
  z-index: 10;
  border-radius: 11px;
  text-align: center;
  height: 123px;
}

.success__modal img, .fail__modal img {
  display: block;
  height: 46px;
  width: 46px;
  margin: 0 auto 15px;
}

.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.visible .success__modal, .visible .fail__modal {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.hidden .success__modal, .hidden .fail__modal {
  -webkit-transform: translate(0, -250%);
          transform: translate(0, -250%);
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.error, .error_checkbox {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 175px;
  height: 30px;
  background: #FDD706;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  font-size: 15px;
  line-height: 20px;
  padding: 5px 15px 5px 42px;
  vertical-align: middle;
  color: #000000;
  left: calc(50% - 87.5px);
  z-index: 10;
  bottom: -15px;
  background-image: url("../icons/error/arrow-up.svg");
  background-repeat: no-repeat;
  background-position: 15px 50%;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.error_checkbox {
  background-image: url("../icons/error/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) 50%;
  padding: 5px 42px 5px 15px;
  left: auto;
  right: -38px;
  top: -40px;
}

.input-group__input._error, .contacts__main .form-block .form ._error.input-group__textarea {
  position: relative;
}

.input-group__input._error .error, .contacts__main .form-block .form ._error.input-group__textarea .error {
  visibility: visible;
  opacity: 1;
}

.form__checkbox._error .form__label {
  position: relative;
}

.form__checkbox._error .form__label .error_checkbox {
  visibility: visible;
  opacity: 1;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.wrapper {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

.container {
  padding: 0 15px;
  width: 100%;
}

@media (min-width: 1350px) {
  .container {
    margin: 0 auto;
    width: 1300px;
  }
}
