@import "../vars";

.contacts { 
    padding: 200px 230px;
      &__main {
        @include flex-row;
        justify-content: space-between;
        margin: 0 auto;
        padding-bottom: 110px;
      }
      &__label {
        width: 425px;
        font-size: 30px;
        font-weight: 600;
        padding-bottom: 40px;
        p {
          padding-bottom: 10px;
        }
        .pink {
          background-color: $pink;
          color: white;
        }
      }
      &__footer {
        @include flex-row;
        justify-content: space-between;
      } 
  }
  .contacts-items {
    &__row {
      @include flex-row;
      justify-content: space-between;
      width: 330px;
      font-size: 19px;
      padding-bottom: 16px;
      &:last-child {
        padding-bottom: 0;
      }
    }
    &__key {
      color: $grey;
      
    }
    &__value {
      color: $blue;
    }
  }
  .links {
    width: 171px;
    &__row {
      @include flex-row;
      justify-content: space-between;
      padding-bottom: 35px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }