@import "../vars";

.examples {
  margin-bottom: 90px;
 
  &__title {
    font-size: 23px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 55px;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(345px, auto));
    grid-gap: 30px;
    justify-content: center; // центрирование элементов сетки
  }

  &__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    background-color: #fff;
    width: 345px;
    height: 251px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    &:hover {
      box-shadow: none;
      transition: 0.3s;
    }
    &:nth-child(1) {
      background: url("../../icons/examples/potrfolio_mobyte.svg")0 0/ 100% 100% no-repeat;
    }
    &:nth-child(2) {
      background: url("../../icons/examples/potrfolio_sundelux.svg")0 0/ 100% 100% no-repeat;
    }
    &:nth-child(3) {
      background: url("../../icons/examples/potrfolio_brucelogmun.svg")0 0/ 100% 100% no-repeat;
    }
  }

  &__label {
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 7px;
  }

  &__subLabel {
    font-size: 17px;
    text-align: center;
  }
}

@media (min-width: 1350px) {
  .examples {
    margin-bottom: 150px;
    &__title {
      // display: none;
    }
    &__btn {
      width: 412px;
      height: 300px;
    }
  }
}