@import "../vars";


.header {
  width: 100%;
  height: 86px;
  padding: 20px 0 27px;
  position: relative;
  &__links {
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    @include flex-row;
  }

  &__link {
    display: none;
  }

  &__logo {
    display: block;
    margin: 0 auto;
    width: 206px;
    height: 39px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}


@media (min-width: 600px) {
  .header {
    &__logo {
      width: 199px;
    }
    .desktop {
      display: block;
    }
    .mobile {
      display: none;
    }
  }
}

@media (min-width: 800px) {
  .header {
    &__link {
      cursor: pointer;
      display: block;
      margin-right: 26px;
      &:nth-child(1) {
        &:hover {
          text {
            fill : url("#colorVk");
          }
        }
      }
      &:nth-child(2) {
        &:hover {
          text {
            fill : url("#colorBe");
          }
        }
      }
      &:nth-child(3) {
        &:hover {
          text {
            fill : url("#colorInst");
          }
        }
        margin-right: 0;
      }
    }
  }
}
@media (min-width: 900px) {
  .header {
    padding: 23px 0;
    margin-bottom: 25px;
  }
}

@media (min-width: 1350px) {
  .header {
    padding: 23px 0;
  }
}