@import "../vars";

.main {
    min-width: 0;
    padding: 57px 0 90px;

    &__container_600 {
        width: 100%;
    }
}

.arrows-3 {
    display: none;
}
.slider-block {
    width: 100%;
    min-width: 0;
    padding-bottom: 53px;
}

.logo {
    display: none;
}

.logo_900 {
    display: none;
}

.logo-circle {
    display: none;
}

.form-block {
    @include flex-column;
    align-items: flex-start;
    width: 100%;

    &__label {
        width: 100%;
        font-size: 19px;
        position: relative;
        margin-bottom: 25px;
        @include with-left-line($width: 5px, $left: -15px, $color: $yellow, $height: 55px, $bottom: -3.5px);
        margin-left: 15px;
        padding-left: 5px;  

        p:first-child {
            font-weight: 600;
            margin-bottom: 13px;
        }
    }

    .form {
        width: 100%;
        .input-group {
            width: 100%;
            padding: 10px 0 17px 15px;
            box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.15);
            border-radius: 7px;

            &__input {
                padding: 10px 0 18px;
                width: 100%;
                font-size: 15px;
                position: relative;
                padding-right: 15px;

                input {
                    color: black;
                    font-size: 16px;
                    width: 100%;
                }

                input::placeholder {
                    color: $grey;
                }
            }

            &__input::after {
                content: "";
                display: block;
                width: 111px;
                height: 1px;
                background-color: #7D7D7D;
                position: absolute;
                bottom: 2px;
                left: 0px;
            }

            &__input:first-child::after {
                width: 77px;
            }

            &__input::placeholder {
                color: $grey;
            }
        }

        &__checkbox {
            margin: 29px 0 32px 16px;
            @include flex-row;
            justify-content: flex-start;
            color: #7D7D7D;
            position: relative;
            @include with-left-line($width: 5px, $left: -15px, $color: $almost_white, $height: 35px, $bottom: -10px);
            font-size: 15px;

            & input {
                display: none;
            }

            & label {
                position: relative;
            }

            & label::after {
                content: "";
                border: 1px solid $grey;
                display: block;
                height: 16px;
                width: 16px;
                position: absolute;
                border-radius: 3px;
                right: -27px;
                top: 0px;
            }

            & input[type="checkbox"]:checked+label:after {
                z-index: 999;
                background: url("/icons/check.svg")center/80% 80% no-repeat;
            }
        }

        &__button {
            font-size: 17px;
            display: block;
            background-color: $blue;
            color: white;
            width: 100%;
            text-align: center;
            // padding: 8px 10px;
            height: 41px;
            border-radius: 7px;
        }
    }
}


@media (min-width: 600px) {
    .logo-circle {
        display: block;
        margin: 0;
        min-width: 235px;
        min-height: 235px;
        max-width: 235px;
        max-height: 235px;
        margin-right: 35px;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .main {
        &__container_600 {
            margin: 0 auto;
            max-width: 648px;
            width: 100%;
            @include flex-row;
            justify-content: space-between;
        }
    }

    .form-block {
        max-width: 338px;
    }
}

@media (min-width: 900px) {
    .logo-circle {
        display: none;
    }

    .logo_900 {
        display: block;
    }

    .main {
        padding-bottom: 150px;
        &__container_600 {
            max-width: 827px;
            padding: 0 15px;
        }
    }

    .form-block {
        max-width: 338px;

        &__label {
            margin-top: 5px;
            font-size: 21px;
            @include with-left-line($width: 5px, $left: -15px, $color: $yellow, $height: 68px, $bottom: -5px);
        }
    }
}

@media (min-width: 1350px) {
    .main {
        padding: 90px 0 90px;
        max-width: 1200px;
        min-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;

        &__container_600 {
            margin: 0;
            display: flex;
            justify-content: flex-end;
            flex: 1 1 33.33%;
            padding: 0;
            min-width: 333px;
            max-width: 333px;
        }
    }
    .arrows-3 {
        display: block;
        margin-top: 89px;
        margin-left: 57px; 
    }

    .logo-circle {
        display: none;
    }

    .logo_900 {
        display: none;
    }

    .logo {
        display: block;
        flex: 1 1 33.33%;
        max-width: 333px;
        // margin-right: 100px;
    }

    .slider-block {
        flex: 1 1 33.33%;
        // margin-right: 100px;
        max-width: 333px;
        min-width: 333px;
        padding-bottom: 0;
    }

    .form-block {
        width: 100%;
        // min-width: 330px;
        // max-width: 330px;
        padding-right: 0;
    }
}