@import "../vars";



.menu {
  width: 100%;
  border-radius: 25px;
  

  a {
    z-index: 2;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &__track {
    background-color: $almost_white;
    font-size: 15px;
    @include flex-row;
    width: 686px;
    margin: 0 auto;
    border-radius: 25px;
    position: relative;
    height: 39px;
  }

  &__item {
    cursor: pointer;
    display: block;
    font-weight: 200;
    text-align: center;
    border-radius: 25px;
    color: $grey;
    @include flex-row;
    height: 35px;
    z-index: 2;
    

    &_active {
      background: transparent;
      color: black;
      font-weight: 400;
      cursor: pointer;
    }
  }  

  &__item_fake {
    border-radius: 25px;
    position: absolute;
    background-color: white;
    height: 35px;
    left: 2px;
    top: 2px;
    z-index: 2;
    cursor: pointer;
  }

  #menu-we {
    width: calc(23px + 50px);
    padding-left: 2px;
  }
  #menu-services {
    width: calc(48px + 50px);
  }
  #menu-examples {
    width: calc(82px + 50px);
  }
  #menu-process {
    width: calc(98px + 50px);
  }
  #menu-vacancies {
    width: calc(68px + 50px);
  }
  #menu-contacts {
    width: calc(68px + 50px);
    padding-right: 2px;
  }
}

@media (min-width: 900px) {
  .menu {
    &__track {
      font-size: 17px;
      width: 794px;
      height: 49px;
    }

    &__item {
      height: 43px;
      font-weight: normal;
      margin: 0 auto;
      &_active {
        font-weight: normal;
      }
    }

    &__item_fake {
      border-radius: 25px;
      height: 43px;
      left: 3px;
      top: 3px;
    }
    
    #menu-we {
      width: calc(25.5px + 60px);
      padding-left: 3px;
    }
    #menu-services {
      width: calc(53px + 60px);
    }
    #menu-examples {
      width: calc(91.5px + 60px);
    }
    #menu-process {
      width: calc(109.5px + 60px);
    }
    #menu-vacancies {
      width: calc(76px + 60px);
    }
    #menu-contacts {
      width: calc(75.5px + 60px);
      padding-right: 3px;
    }
  }
}

.menu-copy {
  @extend .menu;
  display: none;
  background: #fff;
  .menu__track {
    opacity: 0;
  }
}