@import "../vars";


.services {
  margin-top: 77px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  &__block {}

  &__title {}

  &__grid {}

  &__item {}
}

.offer {

  &__title {}

  &__timing {}

  &__days {}

  &__hours {}

  &__price {}
}