@import "../vars";

.vacancies {
    @include flex-row;
    justify-content: space-between;
    padding-bottom: 150px;
    .img-l {
      display: block;
      position: absolute;
      left: -25px;
    }
    .img-r {
      display: block;
      position: absolute;
      right: -25px;
    }
  }
  .cards {
    width: 100%;
    position: relative;
  }
  .card {
    width: 590px;
    padding: 30px 45px;
    border: 1px solid $light-grey;
    border-radius: 10px;
    position: relative;
    margin: 0 auto 10px; // прости меня великий бэм
      &__main-block {
        width: 435px;
      }
          &_desc {
        color: $grey;
        font-size: 17px;
          }
          &__top {
        @include flex-row;
        justify-content: space-between;
        margin-bottom: 15px;
          }
          &__label {
        font-size: 21px;
          }
          &__percent {
        font-size: 15px;
        color: $grey;
          }
          &__arrow {
        position: absolute;
        right: 45px;
        top: calc(50% - 6.5px);
        bottom: 0;
          }
  }