@import "../vars";

.header {
    padding: 20px 0;
    position: relative;
    &__points {
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      @include flex-row;
      width: 160px;
      justify-content: space-between;
    }
    &__label {
      background-color: #fff;
      font-size: 19px;
      z-index: 10;
      font-size: 16px;
      width: 180px;
      border-radius: 20px;
      padding: 12px 20px;
      text-align: center;
      margin: 0 auto;
      box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.15);
    }
  }