@import "vars";

.slider {
    width: 100%;
    min-width: 0;
    overflow: hidden;
    &__item {
        padding: 15px 0 62px;
        font-size: 19px; 
        padding-left: 15px;
    }
    &__title {
        font-weight: 600;
        color: black;
        margin-bottom: 11px;
    }
    &__subTitle {
        color: $grey;
    }
    &__label {
        font-size: 15px;
        font-weight: 600;
        display: inline-block;
        color: white;
        background-color: $pink;
        padding: 12px 18px;
        border-radius: 142px;
        margin-bottom: 15px;
      }
}

/* Слайдер */
.slick-slider{
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {}
/* Лента слайдов */
.slick-track{
    @include flex-row;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
    @include flex-row;
    align-items: flex-end;
    max-height: 7px;
}
.slick-dots li{
    
}
/* Активная точка */
.slick-dots li.slick-active button{
    background-color: $yellow;
}
/* Элемент точки */
.slick-dots li button{
    margin: 0 7px;
    font-size: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $light-grey;
}