@import "vars";

body {
  overflow-x: hidden;
}
.wrapper {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}
.container {
  padding: 0 35px;
}
.header {
  padding: 20px 0;
  position: relative;
  &__points {
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    @include flex-row;
    width: 160px;
    justify-content: space-between;
  }
  &__label {
    background-color: #fff;
    font-size: 19px;
    z-index: 10;
    font-size: 16px;
    width: 180px;
    border-radius: 20px;
    padding: 12px 20px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.15);
  }
}
.menu {
  padding: 10px 0;
  width: 100%;
  background: white;
  &__row {
    background-color: $almost_white;
    position: relative;
    border-radius: 20px;
    @include flex-row;
    margin: 0 auto;
    justify-content: space-between;
    width: 912px;
    z-index: 1;
    height: 35px;
    a {
      display: block;
      height: 100%; 
      width: 100%;
      text-align: center;
     }
  }
  &__item {
    text-align: center;
    border-radius: 20px;
    margin: 2px;
    color: $grey;
    width: 150px;
    height: 34px;
    @include flex-row;
    z-index: 3;
    &_active {
      color: black;
      background: transparent;
    }
    div {
      @include flex-row;
      height: 100%;
    }

  }
  &__item_fake {
    @extend .menu__item;
    position: absolute;
    background-color: white;
    width: 150px;
    margin: auto 0;
    height: 32px;
    left: 1px;
    z-index: 2;
  }
}
.page {
  width: 100%;
  height: 100%;
}
.top {
  @include flex-row;
  justify-content: space-between;
  min-width: 0;
  padding: 106px 50px 150px;
}
.slider-block {
  flex: 1 1 33.333%;
  min-width: 0;
}
.logo {
  display: block;
  flex: 0 1 33.333%;
}
.form-block {
  height: 100%;
  padding-left: 30px;
  flex: 1 1 33.333%;
  @include flex-column;
  align-items: flex-start;
  &__label {
    line-height: 1.6;
    width: 300px; 
    font-size: 18px;
    position: relative;
    margin-bottom: 20px;
    @include with-yellow-line(4px);
    margin-left: 14px;
  }
  .form {
    .input-group {
      width: 280px;
      padding: 10px;
      box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.15);
      border-radius: 10px;
      &__input {
        padding: 10px 5px;
        width: 100%;
        position: relative;
        input {
          color: black;
          font-size: 16px;
          width: 100%;
        }
        input::placeholder {
          color: $grey;
          font-size: 14px;
        }
      }
      &__input::after {
        content: "";
        display: block;
        width: 80px;
        height: 1px;
        background-color: $grey;
        position: absolute;
        bottom: 2px;
        left: 5px;
      }
      &__input:first-child::after {
        width: 50px;
      }
      &__input::placeholder {
        color: $grey;
      }
    }
    &__checkbox {
      margin: 25px 0 25px 15px;
      @include flex-row;
      justify-content: flex-start;
      color: $grey;
      font-size: 14px;
    }
    &__checkbox {
      position: relative;
      & input {
        display: none;
      }
      & label::after {
        content: "";
        border: 1px solid $grey;
        display: block;
        height: 16px;
        width: 16px;
        position: absolute;
        border-radius: 5px;
        right: 25px;
        top: -1.5px;
      }
      & input[type="checkbox"]:checked
        + label:after {
          background: url("/icons/check.svg")center/80% 80% no-repeat;
       }   
    }
    &__button {
      font-size: 16px;
      display: block;
      background-color: $blue;
      color: white;
      width: 100%;
      padding: 8px 10px;
      border-radius: 5px;
    }
  }
}

.we-are {
  @include flex-column;
  height: 1100px;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 150px;
  font-size: 28px;
  &__title {
    text-align: center;
    
  }
  &__text {
    position: relative;
    font-size: 20px;
  }
  &__item {
    @include flex-row;
    height: 100%;
    line-height: 1.7;
    width: 100%;
    position: relative;
  }
  .img-l {
    display: block;
    position: absolute;
    left: 25px;
  }
  .img-l_with-cut {
    @extend .img-l;
    left: -100px;
  }
  .img-r {
    display: block;
    position: absolute;
    right: 25px;
  }
  .img-r_with-cut {
    @extend .img-r;
    right: -100px;
  }
  &__text_with-line {
    @extend .we-are__text;
    @include with-yellow-line(8px, -20px);
  }
  &__label {
    padding-bottom: 5px;
  }
  &__link {
    font-weight: 600;
    display: inline-block;
    font-size: 14px;
    color: $blue;
    position: relative;
    &::after {
      font-weight: 800;
      background: url("/icons/arrow-right.svg") center/100% 100% no-repeat;
      width: 10px;
      height: 10px;
      color: $blue;
      content: "";
      position: absolute;
      right: -16px;
      top: 7px;
    }
  }
  &__sub-label {
    font-size: 16px;
  }
}
.clouds {
  @include flex-row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 100px;
  &__item-r {
    color: white;
    line-height: 1.5;
    background-color: $blue;
    padding: 15px 35px;
    border-radius: 50px; 
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      transform: rotate(140deg);
      border-bottom: 30px solid $blue;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      bottom: -13px;
      right: 5px;
    }
  }
  &__item-l {
    @extend .clouds__item-r;
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      transform: rotate(220deg);
      border-bottom: 30px solid $blue;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      bottom: -13px;
      left: 5px;
    }
  }
  &__button {
    right: 45px;
    padding: 4px 28px;
    position: absolute;
    border-radius: 30px;
    border: 2px solid $blue;
    bottom: -15px;
    background-color: #fff;
  }
}

// Alex Start
.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px;
  padding-bottom: 200px;
  justify-content: center;

  &__item {
    display: flex;
  }
  &__info {
    margin-left: 35px;
    margin-top: 50px;
  }
  &__price {
    min-width: 100%;
    line-height: 20px;
  }
  &__head {
    margin-bottom: 20px;
  }
  &__more {
    display: block;
    color: black;
    padding-top: 25px;
    font-size: 15px;
    font-weight: 600;
  }
}
.info__line {
  max-width: 90px;
  color: #000;
  background-color: #000;
}
.examples {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: 25px;
}
.examples__btn {
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
}
.love {
  @include flex-column;
  margin-top: 190px;
  margin-bottom: 85px;
  font-size: 25px;
  min-width: 550px;
  
  &__container {
    position: relative;
  }
  &__main {
    display: flex;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;

    margin-top: 7px;
    margin-bottom: 7px;
  }
  &__first {
    color: $grey;
    opacity: 0.5;
    
    margin-right: 80px;
  }
  &__second {
    color: $grey;
    opacity: 0.5;
  }
  &__third {
    color: $grey;
    opacity: 0.5;
    padding-left: 40px;
    margin-right: 70px;
  }
  &__fourth {
    color: $grey;
    opacity: 0.5;
  }
}
.process {
  @include flex-column;
  width: 100%;
  padding-bottom: 210px;
  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    line-height: 1.5;
  }
  &__num {
    @include flex-row;
    background-color: $yellow;
    border-radius: 40px;
    font-size: 25px;
    width: 64px;
    height: 64px;
    margin-bottom: 31px;
  }
  &__header {
    font-weight: 600;
    text-align: center;
    font-size: 23px;
    margin-bottom: 23px;
  }
  &__text {
    text-align: center;
  }
  &__btnContainer {
    align-self: center;
    margin-top: 92px;
  }
  &__btn {
    width: 345px;
    height: 41px;
    background-color: $blue;
    align-self: center;
    border: none;
    border-radius: 7px;
    font-size: 17px;
    color: #fff;
  }
}
// Alex End

.vacancies {
  @include flex-row;
  justify-content: space-between;
  padding-bottom: 150px;
  .img-l {
    display: block;
    position: absolute;
    left: -25px;
  }
  .img-r {
    display: block;
    position: absolute;
    right: -25px;
  }
}
.cards {
  width: 100%;
  position: relative;
}
.card {
  width: 590px;
  padding: 30px 45px;
  border: 1px solid $light-grey;
  border-radius: 10px;
  position: relative;
  margin: 0 auto 10px; // прости меня великий бэм
    &__main-block {
      width: 435px;
    }
		&_desc {
      color: $grey;
      font-size: 17px;
		}
		&__top {
      @include flex-row;
      justify-content: space-between;
      margin-bottom: 15px;
		}
		&__label {
      font-size: 21px;
		}
		&__percent {
      font-size: 15px;
      color: $grey;
		}
		&__arrow {
      position: absolute;
      right: 45px;
      top: calc(50% - 6.5px);
      bottom: 0;
		}
}
.contacts { 
  padding: 200px 230px;
    &__main {
      @include flex-row;
      justify-content: space-between;
      margin: 0 auto;
      padding-bottom: 110px;
    }
    &__label {
      width: 425px;
      font-size: 30px;
      font-weight: 600;
      padding-bottom: 40px;
      p {
        padding-bottom: 10px;
      }
      .pink {
        background-color: $pink;
        color: white;
      }
    }
    &__footer {
      @include flex-row;
      justify-content: space-between;
    } 
}
.contacts-items {
  &__row {
    @include flex-row;
    justify-content: space-between;
    width: 330px;
    font-size: 19px;
    padding-bottom: 16px;
    &:last-child {
      padding-bottom: 0;
    }
  }
  &__key {
    color: $grey;
    
  }
  &__value {
    color: $blue;
  }
}
.links {
  width: 171px;
  &__row {
    @include flex-row;
    justify-content: space-between;
    padding-bottom: 35px;
    &:last-child {
      padding-bottom: 0;
    }
  }
}
.footer {
  @include flex-row;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  padding-bottom: 56px;
  font-size: 19px;
}
.company-came {
  flex: 1 1 50%;
  span {
    color: $grey;
  }
}
.user-terms {
  flex: 1 1 50%;
  color: $grey;
}
