@import "vars";
@import "header";
@import "menu";
@import "main";
@import "we-are";
@import "clouds";
@import "services";
@import "examples";
@import "love";
@import "process";
@import "contacts";
@import "footer";

body {
  overflow-x: hidden;
}
.wrapper {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}
.container {
  padding: 0 35px;
}